<article>
  <h3>Viajes {{ getBookingsLength() }}</h3>
  <ul>
    <li *ngFor="let booking of bookings">
      <a [routerLink]="['/','bookings','booking',booking.id]">{{ booking.id }} </a>
      <span>{{ booking.tripId }}</span>
      <ng-container
        *ngIf="booking.hasPremiumFoodPrice; then premiunFood; else noPremiunFood"
      >
      </ng-container>
      <ng-template #premiunFood>🍱</ng-template>
      <ng-template #noPremiunFood>🥫</ng-template>
    </li>
  </ul>
  <button (click)="onReloadClick()">🎈</button>
</article>
