<article>
  <h3>Viajes {{ getTripsLength() }}</h3>
  <ul>
    <li *ngFor="let trip of trips">
      <a [routerLink]="['/','trips','trip',trip.id]">{{ trip.id }}</a>
      <span>{{ trip.id }}</span>
      <ng-container
        *ngIf="trip.kind === 'WithStay'; then withStay; else tripOnly"
      >
      </ng-container>
      <ng-template #withStay>📍</ng-template>
      <ng-template #tripOnly>🎢</ng-template>
      <span [ngClass]="trip.status! | lowercase">{{ trip.status }}</span>
      <span>{{ trip.extraLuggagePricePerKilo }}</span>
      <span>{{ trip.premiumFoodPrice }}</span>
    </li>
  </ul>
  <button (click)="onReloadClick()">🎈</button>
</article>
