<nav>
  <ul>
    <li>
      <a routerLink="">
        <strong>
          <app-title></app-title>
        </strong>
      </a>
    </li>
  </ul>
  <span>
    <span *ngIf="isWorking">👷‍♂️</span>
    <span *ngIf="!isWorking">🥱</span>
    <span *ngIf="hasError">💣</span>
  </span>
  <ul>
    <li>
      <a routerLink="/bookings">Bookings</a>
    </li>
    <li>
      <a routerLink="/agencies">Agencias</a>
    </li>
    <li>
      <a routerLink="/trips">Viajes</a>
    </li>
    <li>
      <a routerLink="/auth/register">Registro</a>
    </li>
    <li>
      <a routerLink="/auth/login">Login</a>
    </li>
  </ul>
</nav>
