<form [formGroup]="form">
  <fieldset>
    <div>
      <label for="agencyId"> Agency </label>
      <select name="agencyId"
              id="agencyId"
              formControlName="agencyId"
              [attr.aria-invalid]="hasError('agencyId')">
        <option selected
                value="">Select a agencyId</option>
        <option *ngFor="let agency of agencies"
                [value]="agency.id">
          {{ agency.name }}
        </option>
      </select>
      <small *ngIf="mustShowMessage('agencyId')">{{ getErrorMessage('agencyId') }}</small>
    </div>

    <app-template-control [form]="form"
  formControlName="destination"
  label="Destination"
  placeholder="Destination"></app-template-control>

  <app-template-control [form]="form"
  formControlName="places"
  label="Places"
  placeholder="Places"></app-template-control>

  <app-template-control [form]="form"
  formControlName="startDate"
  label="Start Date"
  placeholder="Start date"></app-template-control>

  <app-template-control [form]="form"
  formControlName="endDate"
  label="End Date"
  placeholder="End date"></app-template-control>
    <small>{{ getDatesRangeMessage() }}</small>
  </fieldset>
  <div>
    <button type="submit"
            (click)="onSave()"
            [disabled]="form.invalid"> Send new trip data </button>
  </div>
</form>
